## int

In [1]:
a = 2
print(a)
print(type(a))

2
<class 'int'>

## float

In [2]:
b = 9.0
print(b)
print(type(b))

9.0
<class 'float'>

## str

In [3]:
s = 'python'
print(s)
print(type(s))

python
<class 'str'>

In [4]:
st = "It's raining today"
print(st)
print(type(st))

It's raining today
<class 'str'>

## bool

In [6]:
h = 5<8
print(h)
print(type(h))

True
<class 'bool'>

In [7]:
t = True
print(type(t))

<class 'bool'>

In [8]:
f = False
print(type(f))

<class 'bool'>

## List

In [2]:
L = [3,4,5]
print(type(L))

<class 'list'>

In [3]:
ls = list()
print(ls)

[]

In [1]:
tu = [11,23,4,55,67,"raman",[34,2,[2,[3,48],5],90],88]
print(tu[-2][2][1][-1])

48

In [4]:
numbers = [10,20,30,40,50]
print(numbers[1])
print(numbers[1:4])
print(numbers[:3])
print(numbers[3:])

20
[20, 30, 40]
[10, 20, 30]
[40, 50]

In [5]:
L = [1,2,3,"hello",4.5]
L[-2] = 4
print(L)

[1, 2, 3, 4, 4.5]

# List Methods

In [6]:
#append()
numbers = [1,2,3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [7]:
#extend()
numbers.extend([2,3,4,9])
print(numbers)

[1, 2, 3, 4, 2, 3, 4, 9]

In [8]:
#insert()
numbers.insert(1,10)
print(numbers)

[1, 10, 2, 3, 4, 2, 3, 4, 9]

In [9]:
#remove()
numbers.remove(2)
print(numbers)

[1, 10, 3, 4, 2, 3, 4, 9]

In [10]:
#pop()
numbers.pop(2)
print(numbers)

[1, 10, 4, 2, 3, 4, 9]

In [12]:
#reverse()
numbers.reverse()
print(numbers)

[9, 4, 3, 2, 4, 10, 1]

# Tuple

In [1]:
t = (4)
print(type(t))

<class 'int'>

In [2]:
T = (4,)
print(type(T))

<class 'tuple'>

In [4]:
tup = 5,
print(type(tup))

<class 'tuple'>

In [5]:
tu = (11,23,4,55,67,"raman",[34,22,90])
print(tu[-1][-1])

90

In [6]:
colors = (11,23,4,55,67,34,22,90)
print(colors[1])
print(colors[1:3])
print(colors[:2])
print(colors[2:])

23
(23, 4)
(11, 23)
(4, 55, 67, 34, 22, 90)

In [9]:
T = (1,2,3,"hello",4.5)
# T[1] = 10 # gives type Error as it is immutable

## Tuple Methods

In [10]:
#count()
numbers = (1,4,5,4,3,4,2)
co = numbers.count(4)
print(co)

3

In [11]:
#index()
colors = ("blue","red","green")
index = colors.index("blue")
print(index)

0

# Dictionary

In [1]:
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person)
print(type(person))

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
<class 'dict'>

In [3]:
a = {}
print(type(a))

<class 'dict'>

In [4]:
di = dict(name = "raman", rollno = 24)
print(di)
print(type(di))

{'name': 'raman', 'rollno': 24}
<class 'dict'>

In [5]:
stu = {"name": "Raman", "name": "Kumar", "country":"USA", "telephone": 1178}
print(stu)

{'name': 'Kumar', 'country': 'USA', 'telephone': 1178}

In [6]:
per = {"name": "RAMAN", "name1": "RAMAN", "country":"USA", "telephone": 1178}
print(per)

{'name': 'RAMAN', 'name1': 'RAMAN', 'country': 'USA', 'telephone': 1178}

In [7]:
per = {"name": "RAMAN", "name1": "RAMAN", "country":"USA", "telephone": 1178}
print(per["country"])

USA

In [8]:
Mu = {"name": "Raman", "state":"Haryana", "telephone": 1178}
Mu["state"] = "Punjab"
print(Mu)

{'name': 'Raman', 'state': 'Punjab', 'telephone': 1178}

## Dictionary Methods

In [13]:
#keys()
my_dict = {'name': 'Alice', 'age': 30, 'city':'New York'}
keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [14]:
#values()
values = my_dict.values()
print(values)

dict_values(['Alice', 30, 'New York'])

In [11]:
#items()
items = my_dict.items()
print(items)

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

In [15]:
#update()
my_dict.update({'country':'America'})
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'America'}

In [17]:
#pop()
my_dict.pop('age')
print(my_dict)

{'name': 'Alice', 'city': 'New York', 'country': 'America'}

In [18]:
#clear()
my_dict.clear()
print(my_dict)

{}

# Set

In [1]:
my_list = [1,2,3,4,5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [2]:
empty_set = set()
print(empty_set)

set()

In [3]:
my_set = {11,22,3,77,98,3}
print(my_set)

{98, 3, 22, 11, 77}

In [4]:
my_set = {1,2,2,3,3}
print(my_set)

{1, 2, 3}

In [5]:
st = {1,2,3}
st.add(4)
st.remove(2)
print(st)

{1, 3, 4}

In [6]:
st = {1,2,"python",4.5,(3,4,5)}
print(st)

{1, 2, (3, 4, 5), 4.5, 'python'}

In [9]:
# set does not allow mutable data type
# sts =  {1,2,"python",4.5,[3,4,5,5]}
# print(sts)

# Set Method

In [2]:
#add()
my_set = {1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [6]:
#update()
my_set.update((5,6))
print(my_set)

{1, 3, 4, 5, 6}

In [8]:
#remove()
my_set.remove(2)
print(my_set)

{1, 3, 4, 5, 6}

In [9]:
#union()
set1 = {1,2,3}
set2 = {4,5,6}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [10]:
#intersection()
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [11]:
#difference()
set1 = {1,2,3}
set2 = {2,3,4}
difference_set = set1.difference(set2)
print(difference_set)

{1}

# Python Data Types
- Built-in Data Types
- User-Defined Data Types

In [12]:
class Mobile:
    pass
moto = Mobile()
apple = Mobile()
poco = Mobile()

In [13]:
print(type(moto))

<class '__main__.Mobile'>

In [14]:
print(type(apple))

<class '__main__.Mobile'>

In [15]:
print(type(poco))

<class '__main__.Mobile'>