In [1]:
import numpy as np
import time

# creating large list and array
size = 100000000
list_data = list(range(size))
array_data = np.array(range(size))

# timing of the list operation
start_time = time.time()
list_sum = sum(list_data)
end_time = time.time()
list_time = end_time - start_time
print(f"Time taken by list: {list_time} seconds")

# timing of the array operation
start_time = time.time()
list_sum = np.sum(array_data)
end_time = time.time()
array_time = end_time - start_time
print(f"Time taken by array: {array_time} seconds")

Time taken by list: 3.079686164855957 seconds
Time taken by array: 0.06642365455627441 seconds

### In NumPy array, array is homogeneous

In [2]:
import numpy as np
ar = np.array([3,5,4,5,9.0])

In [3]:
print(type(ar[0]))

<class 'numpy.float64'>

In [4]:
ar
# numpy gives priority to floats because they can handle both whole numbers and decimal numbers

array([3., 5., 4., 5., 9.])

# Creating numpy array

In [5]:
import numpy as np
a = np.array([3,4,5])
a

array([3, 4, 5])

In [6]:
type(a)

numpy.ndarray

In [7]:
# In Numpy, ndarray is a class, and every array you create using Numpy is an instance of the ndarray class
zero = np.array(8)
zero

array(8)

In [8]:
zero.ndim

0

In [9]:
zero.shape

()

In [10]:
one = np.array([3,4,6,4,5])
one

array([3, 4, 6, 4, 5])

In [11]:
one.ndim

1

In [12]:
one.shape

(5,)

In [13]:
two = np.array([[3,4,5], [8,9,10]])
two

array([[ 3,  4,  5],
       [ 8,  9, 10]])

In [14]:
two.ndim

2

In [15]:
two.shape

(2, 3)

In [16]:
three = np.array([[[1,2,4], [4,53,4]], [[4,55,6],[7,7,58]]])
three

array([[[ 1,  2,  4],
        [ 4, 53,  4]],

       [[ 4, 55,  6],
        [ 7,  7, 58]]])

In [17]:
three.ndim

3

In [18]:
three.shape
# tensor - arrays with three or more dimensions

(2, 2, 3)

In [19]:
ara = np.arange(8) # arange function makes arrays with numbers that are evenly spaced within a set range
ara

array([0, 1, 2, 3, 4, 5, 6, 7])

In [20]:
ara1 = np.arange(1,8)
ara1

array([1, 2, 3, 4, 5, 6, 7])

In [21]:
ara2 = np.arange(1,11,2)
ara2

array([1, 3, 5, 7, 9])

In [22]:
ara2 = np.arange(3,21,4)
ara2

array([ 3,  7, 11, 15, 19])

In [23]:
re = np.arange(1,21).reshape(4,5)
re

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [24]:
re1 = np.arange(1,25).reshape(6,4)
re1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [25]:
re2 = np.arange(1,25).reshape(2,4,3)
re2

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [26]:
zero = np.zeros((3,4))
zero

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [27]:
one = np.ones((4,6))
one

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [28]:
lin = np.linspace(1,10,5)
lin # creates an array with 5 numbers between 1 and 10

array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ])

In [29]:
lin1 = np.linspace(3,20,7,dtype=int)
lin1

array([ 3,  5,  8, 11, 14, 17, 20])

In [30]:
rn = np.random.random((3,4)) # creates a 2-D array with 3 rows and 4 columns where each element ia a random float between 0 and 1
rn

array([[0.87514635, 0.25305111, 0.24553866, 0.63059607],
       [0.9796985 , 0.9185297 , 0.84227947, 0.71080283],
       [0.85206002, 0.20682715, 0.07845692, 0.48894635]])

In [31]:
rn1 = np.random.random((6,3,2))
rn1

array([[[0.5431195 , 0.91493786],
        [0.20334212, 0.41192253],
        [0.56222326, 0.50646662]],

       [[0.48791234, 0.0055113 ],
        [0.48904269, 0.35747948],
        [0.94307411, 0.95074749]],

       [[0.08569531, 0.8588105 ],
        [0.74013867, 0.79680179],
        [0.43048495, 0.70766328]],

       [[0.1378878 , 0.38229146],
        [0.20864067, 0.83590759],
        [0.00448422, 0.62787225]],

       [[0.82300355, 0.9610815 ],
        [0.05454937, 0.90183036],
        [0.70241657, 0.39438251]],

       [[0.15661674, 0.65401525],
        [0.55544849, 0.62656319],
        [0.18802841, 0.94795826]]])

In [32]:
rin = np.random.randint(1,40,12) # 12 random integers between 1 and 40
rin

array([13, 33, 29, 22, 13, 12, 27, 33, 23, 39,  3, 25], dtype=int32)

In [33]:
rint = np.random.randint(1,150,(2,3))
rint

array([[ 62,  51, 102],
       [  1, 113,  27]], dtype=int32)

In [34]:
rint1 = np.random.randint(110,200,(5,2,3))
rint1

array([[[114, 168, 186],
        [153, 156, 155]],

       [[120, 199, 167],
        [177, 114, 146]],

       [[160, 141, 147],
        [160, 178, 174]],

       [[157, 149, 178],
        [127, 115, 163]],

       [[175, 182, 174],
        [197, 176, 155]]], dtype=int32)

## Array Attribute

In [35]:
arr = np.arange(1,25).reshape(3,8)
arr

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24]])

In [36]:
arr.ndim

2

In [37]:
arr.shape

(3, 8)

In [38]:
arr.dtype

dtype('int64')

In [39]:
arr.size # total number of elements

24

In [40]:
arr.itemsize # each integer occupies 8 bytes

8

In [41]:
arr.nbytes # total memory size in bytes

192

In [42]:
arr2 = np.array([23,4,5,5,8.7,8])
arr2

array([23. ,  4. ,  5. ,  5. ,  8.7,  8. ])

In [43]:
arr2.dtype

dtype('float64')

In [44]:
arr2.size

6

In [45]:
arr2.itemsize

8

In [46]:
arr2.nbytes
# all attributes are part of ndarray class

48

# Changing Datatype

In [47]:
a3 = np.array([3,4,5,6,8.0,5,6,7])
a3

array([3., 4., 5., 6., 8., 5., 6., 7.])

In [48]:
a3.astype("int") # astype() method allows you to convert an array to a different data type

array([3, 4, 5, 6, 8, 5, 6, 7])

In [49]:
a4 = np.array([93,54,75,86,8,5,6,79])
a4

array([93, 54, 75, 86,  8,  5,  6, 79])

In [50]:
a4.astype("float")

array([93., 54., 75., 86.,  8.,  5.,  6., 79.])

# Array Operations

In [51]:
import numpy as np
a1 = np.arange(1,11)
a1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [52]:
a2 = np.arange(11,21)
a2

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

#### scaler operation

In [53]:
a1 * 2 # 2 is scaler here

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [54]:
a1 + 2

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [55]:
a1 - 3

array([-2, -1,  0,  1,  2,  3,  4,  5,  6,  7])

In [56]:
a1 / 4

array([0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  , 2.25, 2.5 ])

### vector operation

In [57]:
a1 + a2

array([12, 14, 16, 18, 20, 22, 24, 26, 28, 30])

In [58]:
a1 * a2

array([ 11,  24,  39,  56,  75,  96, 119, 144, 171, 200])

In [59]:
a2 - a1

array([10, 10, 10, 10, 10, 10, 10, 10, 10, 10])

In [60]:
a2 / a1

array([11.        ,  6.        ,  4.33333333,  3.5       ,  3.        ,
        2.66666667,  2.42857143,  2.25      ,  2.11111111,  2.        ])

### Matrix operation

In [61]:
import numpy as np

A = np.array([[1,2],[3,4]])
B = np.array([[5,6],[7,8]])
A

array([[1, 2],
       [3, 4]])

In [62]:
B

array([[5, 6],
       [7, 8]])

In [63]:
add_result = A + B
add_result

array([[ 6,  8],
       [10, 12]])

In [64]:
sub_result = A - B
sub_result

array([[-4, -4],
       [-4, -4]])

In [65]:
mul_result = A * B
mul_result

array([[ 5, 12],
       [21, 32]])

In [66]:
div_result = A / B
div_result

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

## Numpy Array Mathematical function

In [67]:
M = np.linspace(100,10,12,dtype=int).reshape(3,4)
M

array([[100,  91,  83,  75],
       [ 67,  59,  50,  42],
       [ 34,  26,  18,  10]])

In [68]:
np.max(M)

np.int64(100)

In [71]:
np.max(M, axis=1)

array([100,  67,  34])

In [70]:
np.max(M, axis=0)

array([100,  91,  83,  75])

In [72]:
np.min(M)

np.int64(10)

In [73]:
np.sum(M)

np.int64(655)

In [74]:
np.sum(M, axis=0)

array([201, 176, 151, 127])

In [75]:
np.prod(M)

np.int64(1038868240421793536)

In [76]:
np.median(M)

np.float64(54.5)

In [77]:
np.var(M)

np.float64(794.4097222222222)

In [79]:
np.std(M)
# all the operations mentioned above can be performed row wise amd column wise

np.float64(28.18527491833674)

# Reshape Array

In [81]:
R = np.arange(1,13).reshape(3,4)
R

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [84]:
R.shape

(3, 4)

In [85]:
R1 = np.transpose(R)

In [86]:
R1.shape

(4, 3)

In [87]:
R2 = np.arange(1,25).reshape(3,4,2)

In [88]:
R2

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]],

       [[17, 18],
        [19, 20],
        [21, 22],
        [23, 24]]])

In [90]:
np.ravel(R2) # ravel is used to flatten a multi-dimensional array into a one-dimensional array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])